.slidingDiv {

    height:300px;
    background-color: #99CCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
}
 


.fq{

	padding: 20px;
	text-decoration: none;
	list-style-type: none;
}

.r{
color: black;
padding: 20px;
	text-decoration: none;
	list-style-type: none;
}


